body{
    margin: 0;
    font-family: 'Roboto' ;
}
/*first section*/
.header{
    background-image: url("personal-website\personal-website\header.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    float: left;
    height: ;
    margin-bottom: 5px;
}
h1{
    color: coral;
}
.intro{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 7px;

}
.first-img{
    float: left;
    width: 50%;
}
.button:hover{
    background-color: ;
    color:black;
}
.button{
    text-decoration: none;
    text-align: center;
    background-color: #63bbf2;
    padding:6px 12px;
    border-radius: 10px;
    color: lemonchiffon;

}
/*first section end*/

/*second part start*/
.mid{
    background-image: url("personal-website\personal-website\header.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: ;
    margin-top: 50px;
}
.second-img{
    float: left;
    width: 50%;
  
}
.biography{
    padding-top: 5px;
    float: left;
    width: 45%;
    text-align: center;
    justify-content: center;
}
/*second part finished*/
.lower-mid{
    background-image: url("personal-website\personal-website\header.png");
    background-repeat: no-repeat;
    background-size: cover;

    float: left;
    height: ;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
    justify-self: center;
    background-color: lightcyan;

}
.work1{
    float: left;
    width: 30%;
    
    border: 1px lemonchiffon;
    padding: 5px;
}
.work2{
    padding: 5px;
    float: left;
    width: 30%;
}
.work3{

    float: left;
    width: 30%;
    padding: 5px;
}
/*lower part*/
.lower{
    background-color: lemonchiffon;
    display: inline-block;
    text-align: center;
    margin-top:20px ;
    height: %; 
    width:100%;
    margin-left: 20px;
    margin-bottom: 20px;
}
    .last-button:hover{
        background-color: darkgoldenrod;
        color: black;
    }
.last-button{
    background-image: url("personal-website\personal-website\header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: %;
    
    text-decoration: none;
    text-align: center;
    background-color: #63bbf2;
    padding:15px 30px;
    border-radius: 10px;
    color: lemonchiffon;
  
}
.client{
    height: %;
}
.bruce{
    color: coral;
}

footer{
    width: 100%;
    height: 50px;
    text-justify: auto;
    text-align: center;
    font-size: small;
    background-color: darkslategray;
    color: whitesmoke;
    display:fixed;
    float: none;
}

    

}